<div class="word">
  <span class="display">
  <%- word %>
  </span> 
  <input type="text" name="word" value="<%- word %>">
</div>
<ul class="actions">
  <li class="edit">
    <a href="#" class="btn">Edit</a>
  </li>
  <li class="destroy">
    <a href="#">Destroy</a>
  </li>
</ul>
